@tailwind base;
@tailwind components;
@tailwind utilities;

.Headerbutton {
    border-radius: 24px 0px 24px 0px;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Ensure the footer stays at the bottom of the viewport */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#root,
.flex-grow {
    flex: 1;
}

/* Make sure the footer is not floated or has position: fixed */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Add this to your global CSS file or in a <style jsx> block */

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    /* Internet Explorer and Edge */
    scrollbar-width: none;
    /* Firefox */
}